torch
torchvision
transformers
streamlit==1.32.0
llama-index-core
llama-index-llms-google-genai
llama-index-embeddings-huggingface
llama-index-readers-file
sentence-transformers
nest-asyncio
chromadb
llama-parse
docx2txt
